<mat-nav-list>
  <a *ngIf='isAdmin' mat-list-item routerLink='/ADMIN/publishers' routerLinkActive='active-list-item'
     (click)='sidenavController.openSidebar(false)'>
    <mat-icon matListIcon>public</mat-icon>
    <span class='nav-link'>Publicadores</span>
  </a>
  <a mat-list-item routerLink='/PUBLISHER/mail-users' routerLinkActive='active-list-item'
     (click)='sidenavController.openSidebar(false)'>
    <mat-icon matListIcon>people</mat-icon>
    <span class='nav-link'>Destinatarios</span>
  </a>
  <a mat-list-item [routerLink]="['/PUBLISHER/templates-cards','']" routerLinkActive='active-list-item'
     (click)='sidenavController.openSidebar(false)'>
    <mat-icon matListIcon>redeem</mat-icon>
    <span class='nav-link'>Plantillas</span>
  </a>
  <a mat-list-item routerLink='/PUBLISHER/events-day' routerLinkActive='active-list-item'
     (click)='sidenavController.openSidebar(false)'>
    <mat-icon matListIcon>date_range</mat-icon>
    <span class='nav-link'>Eventos</span>
  </a>
  <a mat-list-item routerLink='/PUBLISHER/help' routerLinkActive='active-list-item'
     (click)='sidenavController.openSidebar(false)'>
    <mat-icon matListIcon>help</mat-icon>
    <span class='nav-link'>Ayuda</span>
  </a>
  <a mat-list-item (click)='onExit()'>
    <mat-icon>exit_to_app</mat-icon>
    <span class='nav-link'>Logout</span>
  </a>
  <mat-divider></mat-divider>
  <div id='profile' fxLayout='column' fxLayoutAlign='center center'>
    <button mat-fab color='accent' >
      <mat-icon>
        {{platformUserData?.role==='ADMIN'?'admin_panel_settings':'public'}}
      </mat-icon>
    </button>
    <span id='name'>{{ platformUserData?.name}}</span>
    <span id='role'>{{platformUserData?.role }}</span>
    <span id='email'>{{ platformUserData?.userEmail}}</span>
  </div>
</mat-nav-list>
