@import '../../../../material_custom_theme.scss';

.mat-nav-list {

  a {
    padding: 0;

  }

  a * {
    font-size: calc(12px + 0.35vw);
  }

  .mat-list-item {
    padding: 0;
    margin: 0;
  }

  .mat-list-item-content {
    padding: 0;
  }

  #profile {
    font-size: calc(11px + 0.2vw);
    margin-top: 2vw;

    .mat-fab {
      $size: calc(30px + 1.5vw);
      --size-fab:2.5*calc(30px + 1.5vw);
      width: calc(var(--size-fab));
      height:calc(var(--size-fab));

      .mat-icon {
        @include md-icon-size($size) ;
        display: flex;
      }
    }

    #name, #rol {
      font-size: 110%;
      font-weight: bold;
    }

    #email {
      font-size: 60%;
      color: CurrentColor;
    }
  }
}

