<mat-toolbar color="primary" class="mat-elevation-z3" *ngIf="isLogged">
  <span>
    <button *ngIf="isLogged" mat-icon-button (click)="onToggleSidenav()" >
      <mat-icon>menu</mat-icon>
    </button>
    <button id = "app-title" mat-raised-button color = "primary" class="mat-display-2" [routerLink]="'/home'" title="Home">Onomástico</button>
  </span>
  <span class="spacer"></span>
  <div class="option-list-nav">
    <button *ngIf="platformUserData.name" mat-raised-button color = "primary"  routerLink="/profile" title="Perfil" title = "Perfil">{{ platformUserData.name}}</button>
    <button *ngIf="platformUserData.role" mat-raised-button color = "primary" [routerLink]="'/'+platformUserData.role" title="Role" >{{platformUserData.role }}</button>
  </div>
  <mat-slide-toggle [formControl]="toggleDarkThemeControl">
    <mat-icon>bedtime</mat-icon>
  </mat-slide-toggle>
</mat-toolbar>

