<div class='container table-wrapper' fxFlex='98'>
  <!-- Actions buttons -->
  <div id='actions_buttons' fxLayout='row' fxLayoutAlign='space-between center'>
    <button mat-raised-button class='button-action button-add-publisher' fxFlex='19' (click)='onOpenModal(null)'
            title='Pulse para agregar un nuevo destinatario'>Nuevo publicador
    </button>
  </div>
  <!-- Table -->
  <div class='mat-elevation-z8'>
    <mat-toolbar color='primary'>
      <mat-toolbar-row fxLayout='row' fxLayoutAlign='space-between center'>
        <mat-form-field fxFlex='95'>
          <mat-label>Buscar</mat-label>
          <label>
            <input matInput (keyup)='applyFilter($event)' placeholder='Ingrese el valor del campo a buscar'
                   autocomplete='off'>
          </label>
        </mat-form-field>
        <div>
          <button mat-mini-fab color='primary' title='Refresh' (click)='onRefresh()'>
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class='table-responsive'>
      <table mat-table [dataSource]='dataSource' multiTemplateDataRows class='mat-elevation-z8' matSort>
        <ng-container matColumnDef='{{property}}' *ngFor='let property of columnsToDisplay'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{property | titlecase}} </th>
          <td mat-cell *matCellDef='let publisher'>
            {{showProperty(publisher, property)}}
          </td>
        </ng-container>
        <!-- Table actions -->
        <ng-container matColumnDef='actions'>
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef='let publisher'>
            <button mat-icon-button [matMenuTriggerFor]='menu'>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu='matMenu'>
              <button mat-menu-item (click)='onOpenModal(publisher)'>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item *ngIf="publisher.estado === 'ACTIVO'"
                      (click)='onStateChange(publisher.email, publisher.estado)'>
                <mat-icon>notifications_off</mat-icon>
                <span>Desactivar</span>
              </button>
              <button mat-menu-item *ngIf="publisher.estado === 'INACTIVO'"
                      (click)='onStateChange(publisher.email, publisher.estado)'>
                <mat-icon>notifications_active</mat-icon>
                <span>Activar</span>
              </button>
              <button mat-menu-item (click)='onDelete(publisher.id)'>
                <mat-icon color='warn'>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='columnsToDisplay'></tr>
        <tr mat-row *matRowDef='let row; columns: columnsToDisplay'></tr>
        <td mat-column *matRowDef="let row; columns: ['actions']"></td>
        <!-- Row shown when there is no matching data. -->
        <tr class='mat-row' *matNoDataRow>
          <td class='mat-cell' colspan='4'>No hay usuarios o no se ha cargado la data</td>
        </tr>
      </table>
    </div>
    <!--    TODO: No está funcionado bien el paginado-->
    <mat-paginator [length]='100'
                   [pageSize]='10'
                   [pageSizeOptions]='[5, 10, 25, 100]' showFirstLastButtons></mat-paginator>
  </div>
</div>
