<div fxFlex fxLayout="row">
  <!-- Logo -->
  <app-onomastic-logo fxFlex="49.65"></app-onomastic-logo>
  <!-- Login form -->
  <mat-card fxFlex fxLayout="row" fxLayoutAlign="center center">
    <mat-card-content fxLayout="column" fxFlex="73.5">
      <form [formGroup]="loginForm.baseForm" (ngSubmit)="onLogin()" fxLayout="column"  (keydown.enter)="$event.preventDefault()">
        <!-- userEmail -->
        <mat-form-field id="user-input" hideRequiredMarker appearance="outline">
          <mat-label>correo</mat-label>
          <label>
            <input matInput type="text" required formControlName="userEmail">
          </label>
          <mat-error *ngIf="checkField('userEmail')">{{loginForm.errorMessage["userEmail"]}}</mat-error>
        </mat-form-field>
        <!-- Password -->
        <mat-form-field id="password-input" hideRequiredMarker appearance="outline">
          <mat-label>contraseña</mat-label>
          <label>
            <input matInput [type]="hidePassword? 'password':'text'" required formControlName="password"
            >
          </label>
          <button id="hide-password-button" mat-icon-button matSuffix (click)="hidePassword= !hidePassword"
            [title]="hidePassword ? 'Show password': 'Hide password'">
            <mat-icon>{{hidePassword ? "visibility_off" :"visibility"}}</mat-icon>
          </button>
          <mat-error *ngIf="checkField('password')">{{loginForm.errorMessage["password"]}}</mat-error>
        </mat-form-field>
        <!-- Captcha -->
        <ngx-recaptcha2 #captchaElem [siteKey]="recaptchaConfig.siteKey" (reset)="handleResetRecaptcha()"
          (expire)="handleExpireRecaptcha()" (error)="handleErrorRecaptcha()" (load)="handleLoadRecaptcha()"
          (success)="handleSuccessRecaptcha()" [useGlobalDomain]="false" [size]="recaptchaConfig.size"
          [hl]="recaptchaConfig.lang" [theme]="recaptchaConfig.theme" [type]="recaptchaConfig.type">
        </ngx-recaptcha2>
        <!-- Login -->
        <button id="login-button" type="submit" mat-button mat-raised-button color="primary"
                [disabled]="isValidForm()">conectar</button>
      </form>
      <!-- Password recovery -->
      <a mat-hint class="forgot-password" fxFlex="20" fxFlexAlign="center" routerLink="/forgot-password" mat-menu-item>
        ¿Olvidaste tu contraseña?
      </a>
    </mat-card-content>
  </mat-card>
</div>
<ngx-spinner *ngIf="!captchaElem.isLoaded"></ngx-spinner>
