<div fxFlex fxLayout="row">
  <!-- Logo -->
  <app-onomastic-logo fxFlex="49.65"></app-onomastic-logo>
  <!-- Login form -->
  <mat-card fxFlex fxLayout="row" fxLayoutAlign="center center">
    <mat-card-content fxLayout="column" fxFlex="73.5">
      <form [formGroup]="loginForm.baseForm" (ngSubmit)="onLogin()" fxLayout="column">
        <!-- Username -->
        <mat-form-field id="user-input" hideRequiredMarker appearance="outline">
          <mat-label>usuario</mat-label>
          <input matInput type="text" matInput required formControlName="username" (keydown)="handleKeyDown($event)">
          <mat-error *ngIf="checkField('username')">{{loginForm.errorMessage}}</mat-error>
        </mat-form-field>
        <!-- Password -->
        <mat-form-field id="password-input" hideRequiredMarker appearance="outline">
          <mat-label>contraseña</mat-label>
          <input matInput [type]="hidePassword? 'password':'text'" matInput required formControlName="password"
            (keydown)="handleKeyDown($event)">
          <button id="hide-password-button" mat-icon-button matSuffix (click)="hidePassword= !hidePassword"
            [title]="hidePassword ? 'Show password': 'Hide password'">
            <mat-icon>{{hidePassword ? "visibility_off" :"visibility"}}</mat-icon>
          </button>
          <mat-error *ngIf="checkField('password')">{{loginForm.errorMessage}}</mat-error>
        </mat-form-field>
        <!-- Captcha -->
        <ngx-recaptcha2 #captchaElem
          [siteKey]="recaptchaConfig.siteKey" (reset)="handleResetRecaptcha()" (expire)="handleExpireRecaptcha()"
          (error)="handleErrorRecaptcha()" (load)="handleLoadRecaptcha()" (success)="handleSuccessRecaptcha($event)"
          [useGlobalDomain]="false" [size]="recaptchaConfig.size" [hl]="recaptchaConfig.lang"
          [theme]="recaptchaConfig.theme" [type]="recaptchaConfig.type" formControlName="recaptcha">
        </ngx-recaptcha2>
        <mat-error *ngIf="checkField('recaptcha')">{{loginForm.errorMessage}}</mat-error>
        <!-- Login -->
        <button id="login-buttton" type="submit" mat-button mat-raised-button color="primary"
          [disabled]="loginForm.baseForm.valid">conectar</button>
      </form>
      <!-- Password recovery -->
      <a mat-hint class="forgot-password" fxFlex="20" fxFlexAlign="center" routerLink="/forgot-password" mat-menu-item (click) = "ngOnDestroy()">
        ¿Olvidaste tu contraseña?
      </a>
    </mat-card-content>
  </mat-card>
</div>

