app-onomastic-logo {
  background-color: #E4FFE5;
}

mat-card {
  mat-card-content {
    form {
      border     : 0.1875rem  #707070 solid;
      align-items: center;

      .mat-form-field,
      #login-buttton,
      .forgot-password {
        font-family   : Poppins-SemiBold;
        font-style    : normal;
        font-weight   : bold;
        width         : 79.39%;
        letter-spacing: 0.0039rem;
        border-radius : 1.875rem;
      }

      mat-label {
        font-size: 2.1875rem;
      }

      // Standar
      ::ng-deep .mat-form-field {

        .mat-input-element {
          font-size: 2.1875rem;
          color    : #707070;
        }


        .mat-form-field-label {
          color: #8B8C94
        }


      }

      #user-input {
        margin: 3.125rem 0 0.625rem;
      }

      #password-input {
        margin-bottom: 2.5rem;
      }

      #hide-password-button {
        @mixin md-icon-size($size: 24px) {
          font-size: $size;
          height   : $size;
          width    : $size;
        }

        .material-icons.mat-icon {
          @include md-icon-size(48px);
          margin-left: -1.25rem;
        }
      }

      ngx-recaptcha2 {
        @mixin recaptcha-transform($scale: 1) {
          transform       : scale($scale);
          transform-origin: -$scale*10 0;
          margin-bottom   : 0.625rem;
        }

        @include recaptcha-transform(1.4);
      }

      #login-buttton {
        padding  : 1.5625rem;
        font-size: 2.375rem;
        color    : #E8EAFF;
        bottom   : -2.8125rem;

        .mat-button {
          border-radius: 1.875rem;
        }
      }
    }

    .forgot-password {
      text-decoration: none;
      margin-top     : 6.25rem;
      font-size      : 1.5rem;
      color          : rgba(90, 96, 127, 1);
      letter-spacing : 0.0026rem;
    }
  }
}
