@import 'src/assets/custom_styles/material_custom_theme.scss';

app-onomastic-logo {
  background-color: mat-color($mat-primary, lighter);
}

mat-card {
  mat-card-content {
    form {
      border     : 0.1875rem mat-color($mat-accent, main) solid;
      align-items: center;

      .mat-form-field,
      #login-buttton,
      .forgot-password {
        width        : 79.39%;
        border-radius: 1.875rem;
      }

      mat-label {
        font-size: 2.1875rem;
      }

      // Standar
      ::ng-deep .mat-form-field {

        .mat-input-element {
          font-size: 1.3889rem;
          color    : mat-color($mat-accent, darker)
        }


        .mat-form-field-label {
          color: mat-color($mat-accent, lighter);
        }


      }

      #user-input {
        margin: 3.125rem 0 0.625rem;
      }

      #password-input {
        margin-bottom: 2.5rem;
      }

      #hide-password-button {

        @mixin md-icon-size($size: 1.1111rem) {
          font-size: $size;
          height   : $size;
          width    : $size;
        }

        @include md-icon-size(2.6667rem);

        .material-icons.mat-icon {
          @include md-icon-size(2.2222rem);
        }
      }

      ngx-recaptcha2 {
        @mixin recaptcha-transform($scale: 1) {
          transform       : scale($scale);
          transform-origin: -$scale*10 0;
          margin-bottom   : 0.625rem;
        }

        @include recaptcha-transform(1.4);
      }

      #login-buttton {
        padding  : 1.5625rem;
        font-size: 2.375rem;
        color    : white;
        bottom   : -2.8125rem;


        .mat-button {
          border-radius: 1.875rem;

        }

        &:hover {
          background-color: mat-color($mat-primary, darker);
        }

        &:disabled {
          background-color: mat-color($mat-primary, lighter)
        }
      }

    }

    .forgot-password {
      text-decoration: none;
      margin-top     : 6.25rem;
      font-size      : 1.5rem;
      color          : mat-color($mat-accent, main);
      letter-spacing : 0.0026rem;

      &:hover {
        color: mat-color($mat-primary, darker);
      }
    }
  }
}
