<div class='container'>
  <h1 mat-dialog-title>{{data.title | uppercase }}</h1>
  <div class='reload-button'>
    <button (click)='onRefresh()' color='primary' mat-mini-fab title='Recargar plantillas'>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <!--TODO: Poner boton de refresh en el formulario -->
    <form (keydown.enter)='$event.preventDefault()' (ngSubmit)='onSave()' [formGroup]='recipientForm.baseForm'
          fxLayout='column'>
      <div fxLayout='row' fxLayoutAlign='space-between center'>
        <!-- Name -->
        <mat-form-field appearance='outline' fxFlex='47' hideRequiredMarker>
          <mat-label>Nombre</mat-label>
          <label>
            <input formControlName='nombre' matInput required type='text'>
          </label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="checkField('nombre', null, null)">{{recipientForm.errorsMessage["nombre"]}}</mat-error>
        </mat-form-field>
        <!-- Lastname -->
        <mat-form-field appearance='outline' fxFlex='47' hideRequiredMarker>
          <mat-label>Apellidos</mat-label>
          <label>
            <input formControlName='apellido' matInput required type='text'>
          </label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="checkField('apellido',null, null)">{{recipientForm.errorsMessage["apellido"]}}</mat-error>
        </mat-form-field>
      </div>
      <!-- ID -->
      <div fxLayout='row' fxLayoutAlign='space-between center'>
        <!-- ID type -->
        <mat-form-field appearance='outline' formGroupName='id' fxFlex='47' hideRequiredMarker>
          <mat-label>Tipo de documento</mat-label>
          <mat-select formControlName='tipoIdentificacion'>
            <mat-option>-- Seleccione una opción --</mat-option>
            <mat-option value='CA'>CARNET</mat-option>
            <mat-option value='CC'>CEDULA DE CIUDADANIA</mat-option>
            <mat-option value='CE'>CEDULA DE ESTRAJERIA</mat-option>
            <mat-option value='PA'>PASAPORTE</mat-option>
            <mat-option value='PT'>PERMISO TRABAJO</mat-option>
            <mat-option value='RC'>REGISTRO CIVIL</mat-option>
            <mat-option value='TI'>TARJETA IDENTIDAD</mat-option>
            <mat-option value='VI'>VISA</mat-option>
          </mat-select>
          <mat-icon matSuffix>account_box</mat-icon>
          <mat-error *ngIf="checkField('tipoIdentificacion','id', null)">
            {{recipientForm.errorsMessage['id'].tipoIdentificacion}}</mat-error>
        </mat-form-field>
        <!-- ID number -->
        <mat-form-field appearance='outline' formGroupName='id' fxFlex='47' hideRequiredMarker>
          <mat-label>Número de identificación</mat-label>
          <label>
            <input formControlName='numeroIdentificacion' matInput required type='text'
            >
          </label>
          <mat-icon matSuffix>account_box</mat-icon>
          <mat-error *ngIf="checkField('numeroIdentificacion','id', null )">
            {{recipientForm.errorsMessage['id'].numeroIdentificacion}}</mat-error>
        </mat-form-field>
      </div>
      <!-- Birhtday/Gender -->
      <div fxLayout='row' fxLayoutAlign='space-between center'>
        <!-- Birhtday -->
        <mat-form-field appearance='outline' fxFlex='47'>
          <mat-label>Fecha de nacimiento</mat-label>
          <label>
            <input (dateChange)='setBirthdayFormat($event)' [matDatepicker]='dp' [max]='today'
                   formControlName='fechaNacimiento'
                   matInput placeholder='YYYY-MM-DD'>
          </label>
          <mat-datepicker-toggle [for]='dp' matSuffix></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <mat-error
            *ngIf="checkField('fechaNacimiento', null, null)">{{recipientForm.errorsMessage["fechaNacimiento"]}}
          </mat-error>
        </mat-form-field>
        <!-- Gender -->
        <mat-form-field appearance='outline' fxFlex='47'>
          <mat-label>Género</mat-label>
          <mat-select formControlName='genero'>
            <mat-option>-- Seleccione una opción --</mat-option>
            <mat-option value='MASCULINO'>MASCULINO</mat-option>
            <mat-option value='FEMENINO'>FEMENINO</mat-option>
          </mat-select>
          <mat-icon matSuffix>group</mat-icon>
          <mat-error *ngIf="checkField('genero', null, null)">
            {{recipientForm.errorsMessage["genero"]}}</mat-error>
        </mat-form-field>
      </div>
      <!-- Email/State -->
      <div fxLayout='row' fxLayoutAlign='space-between center'>
        <!-- Email -->
        <mat-form-field appearance='outline' fxFlex='47' hideRequiredMarker='true'>
          <mat-label>Email</mat-label>
          <label>
            <input formControlName='email' matInput required type='text'>
          </label>
          <mat-error *ngIf="checkField('email', null, null)">{{recipientForm.errorsMessage["email"]}}</mat-error>
          <mat-icon matSuffix>contact_mail</mat-icon>
        </mat-form-field>
        <!-- State -->
        <mat-form-field appearance='outline' fxFlex='47' hideRequiredMarker>
          <mat-label>Estado</mat-label>
          <mat-select #state formControlName='estado'>
            <mat-option>-- Seleccione una opción --</mat-option>
            <mat-option value='ACTIVO'>ACTIVO</mat-option>
            <mat-option value='INACTIVO'>INACTIVO</mat-option>
          </mat-select>
          <ng-container [ngSwitch]='state.value' matSuffix>
            <mat-icon *ngSwitchCase="'ACTIVO'" matSuffix>email</mat-icon>
            <mat-icon *ngSwitchCase="'INACTIVO'" matSuffix>unsubscribe</mat-icon>
            <mat-icon *ngSwitchDefault matSuffix>contact_mail</mat-icon>
          </ng-container>
          <mat-error *ngIf="checkField('estado', null, null)">
            {{recipientForm.errorsMessage["estado"]}}</mat-error>
        </mat-form-field>
      </div>
      <!-- Administrative units -->
      <ng-select
        [clearSearchOnAdd]='true'
        [closeOnSelect]='false'
        [hideSelected]='true'
        [items]='administrativeUnits'
        [loading]='true'
        [minTermLength]='3'
        [multiple]='true'
        [selectableGroupAsModel]='true'
        appearance='outline'
        bindLabel='nombre'
        formControlName='unidadAdministrativaPorCorreoUsuario'
        notFoundText='No hay más unidades administrativas en la lista!'
        placeholder='Unidad Administrativa'
        required
        title='Seleccione las unidadades administrativas del destinatario'
        typeToSearchText='Search'>
        <ng-template let-administrativeUnits='item' ng-option-tmp>
          <ng-container>
            <mat-icon>badge</mat-icon>
          </ng-container>
          {{administrativeUnits.nombre| uppercase}}
        </ng-template>
      </ng-select>
      <!-- Academic program-->
      <ng-select
        [clearSearchOnAdd]='true'
        [closeOnSelect]='false'
        [hideSelected]='true'
        [items]='programs'
        [loading]='true'
        [minTermLength]='3'
        [multiple]='true'
        [selectableGroupAsModel]='true'
        appearance='outline'
        bindLabel='nombre'
        formControlName='programaAcademicoPorUsuarioCorreo'
        notFoundText='No hay más programas academicos en la lista!'
        placeholder='Programa acádemico'
        title='Seleccione el programa/s del destinatario'
        typeToSearchText='Search'>
        <ng-template let-program='item' ng-option-tmp>
          <ng-container>
            <mat-icon> school</mat-icon>
          </ng-container>
          {{program.nombre| uppercase}}
        </ng-template>
      </ng-select>
      <mat-icon *ngIf="!isSelectAtLeastOneUnitOrProgram()"
                color="warn"
                title="Seleccione al menos un valor de las unidades administrativas o programas académicos.">info
      </mat-icon>
      <!-- Bonding -->
      <ng-select
        [clearSearchOnAdd]='true'
        [closeOnSelect]='false'
        [hideSelected]='true'
        [items]='bondingTypes'
        [loading]='true'
        [minTermLength]='3'
        [multiple]='true'
        [selectableGroupAsModel]='true'
        appearance='outline'
        bindLabel='nombre'
        formControlName='vinculacionPorUsuarioCorreo'
        notFoundText='No hay más vinculaciones en la lista!'
        placeholder='Estamento'
        required
        title='Seleccione el estamento/s del destinatario'
        typeToSearchText='Search'>
        <ng-template let-bondingType='item' ng-option-tmp>
          <ng-container>
            <mat-icon> group_work</mat-icon>
          </ng-container>
          {{bondingType.nombre| uppercase}}
        </ng-template>
      </ng-select>
      <!-- Platform -->
      <ng-select
        [clearSearchOnAdd]='true'
        [closeOnSelect]='false'
        [hideSelected]='true'
        [items]='platforms'
        [loading]='true'
        [minTermLength]='3'
        [multiple]='true'
        [selectableGroupAsModel]='true'
        appearance='outline'
        bindLabel='nombre'
        formControlName='plataformaPorUsuarioCorreo'
        notFoundText='No hay más plataformas en la lista!'
        placeholder='Plataforma'
        required
        title='Seleccione la plataforma/s del destinatario'
        typeToSearchText='Search'>
        <ng-template let-bondingType='item' ng-option-tmp>
          <ng-container>
            <mat-icon> storage</mat-icon>
          </ng-container>
          {{bondingType.nombre| uppercase}}
        </ng-template>
      </ng-select>
    </form>
  </div>
  <div fxLayout='row' fxLayoutAlign='end end' mat-dialog-actions>
    <button (click)='onClose(null)' color='warn' fxFlex='20' mat-raised-button>Cancelar</button>
    <button (click)='onSave()' [disabled]='!formIsValid()'
            [title]="!formIsValid()? 'Complete todos los campos! ':'Guardar'"
            color='primary' fxFlex='20' mat-raised-button>
      {{actionTODO}}
    </button>
  </div>
</div>
