<div class='container'>
  <!-- Actions buttons -->
  <div class='actions_buttons' fxLayout='row' fxLayoutAlign='start center'>
    <button mat-raised-button color='primary' (click)='openModalLogs()'
            title='Click para abrir historial de correos enviados.'>
      <div>T. Correos
        <div class='mat-mini-fab'>
          <mat-icon matBadge='>' matBadgeColor='warn' matBadgeSize='small'> contact_mail</mat-icon>
        </div>
      </div>
      <mat-divider></mat-divider>
      {{numMailsSent}}
    </button>
    <button mat-raised-button color='primary'>
      <div>T. Destinatarios
        <div class='mat-mini-fab'>
          <mat-icon>people_outline</mat-icon>
        </div>
      </div>
      <mat-divider></mat-divider>
      {{quantityRecipients}}
    </button>

    <button mat-mini-fab color='primary' title='Nueva destinatario' (click)='onOpenModalForm(null)'>
      <mat-icon matBadge='+' matBadgeColor='warn' matBadgeSize='small'>people</mat-icon>
    </button>

  </div>
  <!-- Table -->
  <div class='table-container mat-elevation-z8'>
    <mat-toolbar color='primary'>
      <mat-toolbar-row fxLayout='row' fxLayoutAlign='space-between center'>
        <!-- Filter/ Refresh-->
        <mat-form-field fxFlex='95'>
          <mat-label>Buscar</mat-label>
          <label>
            <input matInput (keyup)='onChange($event.key)' placeholder='Ingrese el valor del campo a buscar'
                   autocomplete='off' [formControl]='search'>
          </label>
        </mat-form-field>
        <button mat-mini-fab color='primary' title='Refresh' (click)='onRefresh()'>
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class='table-responsive'>
      <table mat-table [dataSource]='dataSource' matSort>
        <!-- ID Column -->
        <ng-container matColumnDef='id'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef='let element'>{{ element.id["tipoIdentificacion"]}}
            {{element.id["numeroIdentificacion"]}}</td>
        </ng-container>
        <!-- Platform Column -->
        <ng-container matColumnDef='plataformaPorUsuarioCorreo'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Plataforma</th>
          <td mat-cell *matCellDef='let element'>
            <tr *ngFor='let item of element.plataformaPorUsuarioCorreo'>{{ item["nombre"] }}</tr>
          </td>
        </ng-container>
        <!-- Username Column -->
        <ng-container matColumnDef='nombre'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef='let element'>{{ element.nombre }}{{' ' + element.apellido}}</td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef='email'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef='let element'>{{ element.email }}</td>
        </ng-container>
        <!-- Date Birth Column -->
        <ng-container matColumnDef='fechaNacimiento'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de nacimi ento</th>
          <td mat-cell *matCellDef='let element'>{{ element.fechaNacimiento }}</td>
        </ng-container>
        <!-- Bonding -->
        <ng-container matColumnDef='vinculacionPorUsuarioCorreo'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vinculo</th>
          <td mat-cell *matCellDef='let element'>
            <tr *ngFor='let item of element.vinculacionPorUsuarioCorreo'>{{ item["nombre"] }}</tr>
          </td>
        </ng-container>
        <!-- Administrative unit -->
        <ng-container matColumnDef='unidadAdministrativaPorCorreoUsuario'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad Administrativa</th>
          <td mat-cell *matCellDef='let element'>
            <tr *ngFor='let item of element.unidadAdministrativaPorCorreoUsuario'>{{ item["nombre"] }}</tr>
          </td>
        </ng-container>
        <!-- Academic program -->
        <ng-container matColumnDef='programaAcademicoPorUsuarioCorreo'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Programa</th>
          <td mat-cell *matCellDef='let element'>
            <tr *ngFor='let item of element.programaAcademicoPorUsuarioCorreo'>{{ item["nombre"] }}</tr>
          </td>
        </ng-container>
        <!-- State -->
        <ng-container matColumnDef='estado'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef='let element'>{{ element.estado }}</td>
        </ng-container>
        <!-- Table actions -->
        <ng-container matColumnDef='actions'>
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef='let element'>
            <button mat-icon-button [matMenuTriggerFor]='menu' aria-label='Example icon-button with a menu' color='warn'
                    title='Click para desplegar menú'>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu='matMenu'>
              <button mat-menu-item (click)='onOpenModalForm(element)'>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item *ngIf="element.estado === 'ACTIVO'"
                      (click)='onSubscriptionStateChange(element.email, element.estado)'>
                <mat-icon>unsubscribe</mat-icon>
                <span>Desactivar</span>
              </button>
              <button mat-menu-item *ngIf="element.estado === 'INACTIVO'"
                      (click)='onSubscriptionStateChange(element.email,element.estado)'>
                <mat-icon>email</mat-icon>
                <span>Activar</span>
              </button>
              <button mat-menu-item (click)='onDelete(element.id)' [disabled]="!isAdmin">
                <mat-icon color='warn'>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='columnsToDisplay'></tr>
        <tr mat-row *matRowDef='let row; columns: columnsToDisplay'></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class='mat-row' *matNoDataRow>
          <td class='mat-cell' colspan='4'>No hay usuarios o no se ha cargado la data</td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]='100'
                   [pageSize]='5'
                   [pageSizeOptions]='[5, 10, 25, 100]' showFirstLastButtons></mat-paginator>
  </div>
</div>
