<ngx-spinner *ngIf='!captchaElem.isLoaded'></ngx-spinner>
<main>
  <div class='bg'>
    <mat-icon class='arrow bounce' color='primary'>keyboard_arrow_down</mat-icon>
  </div>

  <section class='container'>
    <!-- Login form -->
    <div fxLayout='column' fxFlex.xs='85' fxFlex.sm='55' fxFlex.md='40'  fxFlex='35'>
      <form [formGroup]='loginForm.baseForm' (ngSubmit)='onLogin()' fxLayout='column'
            (keydown.enter)='$event.preventDefault()'>
        <!-- userEmail -->
        <mat-form-field id='user-input' hideRequiredMarker appearance='outline'>
          <mat-label>correo</mat-label>
          <label>
            <input matInput type='text' required formControlName='userEmail'>
          </label>
          <mat-error *ngIf="checkField('userEmail')">{{loginForm.errorMessage["userEmail"]}}</mat-error>
        </mat-form-field>
        <!-- Password -->
        <mat-form-field id='password-input' hideRequiredMarker appearance='outline'>
          <mat-label>contraseña</mat-label>
          <label>
            <input matInput [type]="hidePassword? 'password':'text'" required formControlName='password'
            >
          </label>
          <button id='hide-password-button' mat-icon-button matSuffix (click)='hidePassword= !hidePassword'
                  [title]="hidePassword ? 'Show password': 'Hide password'">
            <mat-icon>{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
          <mat-error *ngIf="checkField('password')">{{loginForm.errorMessage["password"]}}</mat-error>
        </mat-form-field>
        <!-- Captcha -->
        <ngx-recaptcha2 #captchaElem [siteKey]='recaptchaConfig.siteKey'
                        (success)='handleSuccessRecaptcha()' [useGlobalDomain]='false' [size]='recaptchaConfig.size'
                        [hl]='recaptchaConfig.lang' [theme]='recaptchaConfig.theme' [type]='recaptchaConfig.type'>
        </ngx-recaptcha2>
        <!-- Login -->
        <button id='login-button' type='submit' mat-button mat-raised-button color='primary'
                [disabled]='isValidForm()'>conectar
        </button>
      </form>
      <!-- Password recovery -->
      <a mat-hint class='forgot-password' routerLink='/forgot-password' mat-menu-item>
        ¿Olvidaste tu contraseña?
      </a>
    </div>
  </section>
</main>
