<ngx-spinner *ngIf='!captchaElem.isLoaded'></ngx-spinner>
<!--<input appModeDetect/>-->
<main>
  <div class='bg'>
    <ng-lottie [options]="onScroll" id="scrollUp"></ng-lottie>
<!--    <ng-lottie [options]="{path:'https://assets5.lottiefiles.com/private_files/lf30_hhvn1H.json'}" style="zoom:20"></ng-lottie>-->
  </div>
  <section class='container'>
    <!-- Login form -->
    <div fxFlex='35' fxFlex.md='40' fxFlex.sm='55' fxFlex.xs='85' fxLayout='column'>
      <form (keydown.enter)='$event.preventDefault()' (ngSubmit)='onLogin()' [formGroup]='loginForm.baseForm'
            fxLayout='column'>
        <!-- userEmail -->
        <mat-form-field appearance='outline' hideRequiredMarker id='user-input'>
          <mat-label>email-usuario</mat-label>
          <label>
            <input formControlName='userEmail' matInput required type='text'>
          </label>
          <mat-error *ngIf="checkField('userEmail')">{{loginForm.errorMessage["userEmail"]}}</mat-error>
        </mat-form-field>
        <!-- Password -->
        <mat-form-field appearance='outline' hideRequiredMarker id='password-input'>
          <mat-label>contraseña</mat-label>
          <label>
            <input [type]="hidePassword? 'password':'text'" formControlName='password' matInput required
            >
          </label>
          <button (click)='hidePassword= !hidePassword' [title]="hidePassword ? 'Show password': 'Hide password'"
                  id='hide-password-button' mat-icon-button
                  matSuffix>
            <mat-icon>{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
          <mat-error *ngIf="checkField('password')">{{loginForm.errorMessage["password"]}}</mat-error>
        </mat-form-field>
        <!-- Captcha -->
        <ngx-recaptcha2 #captchaElem (success)='handleSuccessRecaptcha()'
                        [hl]='recaptchaConfig.lang' [siteKey]='recaptchaConfig.siteKey' [size]='recaptchaConfig.size'
                        [theme]='recaptchaConfig.theme' [type]='recaptchaConfig.type' [useGlobalDomain]='false'>
        </ngx-recaptcha2>
        <!-- Login -->
        <button [disabled]='isValidForm()' color='primary' id='login-button' mat-button mat-raised-button
                type='submit'>conectar
        </button>
      </form>
      <!-- Password recovery -->
      <a class='forgot-password' mat-hint mat-menu-item routerLink='/forgot-password'>
        ¿Olvidaste tu contraseña?
      </a>
    </div>
  </section>
</main>
