@import '../../../../../material_custom_theme';

main {
  * {
    transition-duration: 0.2s;
  }

  .bg {
    background: url('~src/assets/icons/splash-screen.svg') no-repeat fixed 50% 0;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    ng-lottie{
      zoom:2;
    }
  }

  section.container {
    justify-content: center;

    div {
      font-size: calc(1rem + 1vw);
      $width-shadow: 0.3rem;

      form {
        box-shadow: 0 $width-shadow 2*$width-shadow 0 rgba(0, 0, 0, 0.2), 0 1.5*$width-shadow 5*$width-shadow 0 rgba(0, 0, 0, 0.19);
        border-radius: 4%;
        align-items: center;

        .mat-form-field,
        #login-button, {
          width: 80%;
          border-radius: 2.7778rem;
        }

        ::ng-deep {
          mat-label {
            font-size: 55%;
          }

          .mat-input-element {
            font-size: 55%;
            color: mat-color($mat-accent, darker)
          }

          .mat-form-field-label {
            color: mat-color($mat-accent, lighter);
          }

          .mat-form-field-flex > .mat-form-field-infix {
            padding: 0.3em 0 !important;
          }

          .mat-form-field-label-wrapper {
            top: -1.5em;
          }

          .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.1em) scale(.70);
            width: 133.33333%;
          }
        }

        #user-input {
          margin-top: 1vw;
        }

        #password-input {
          margin-bottom: 1vw;
        }

        #hide-password-button {
          $size: calc(10px + 1.5vw);
          @include md-icon-size($size) ;

          .material-icons.mat-icon {
            @include md-icon-size($size);
          }
        }

        .mat-error {
          font-size: 60%
        }

        ngx-recaptcha2 {
          $minScale: 0.8;
          $addScale: 0.1;

          /* Large desktop */
          @media (min-width: 66.667rem) {
            transform: scale($minScale+3*$addScale);
          }

          /* Portrait tablet to landscape and desktop */
          @media (min-width: 42.667rem) and (max-width: 54.389rem) {
            transform: scale($minScale+2*$addScale);
          }

          /* Landscape phone to portrait tablet */
          @media (max-width: 42.611rem) {
            transform: scale($minScale+$addScale);
          }

          /* Landscape phones and down */
          @media (max-width: 480px) {
            transform: scale($minScale);
          }
        }

        #login-button {
          box-shadow: 0 $width-shadow 2*$width-shadow 0 rgba(0, 0, 0, 0.2), 0 1.5*$width-shadow 5*$width-shadow 0 rgba(0, 0, 0, 0.19);
          --padding: calc(10px + 0.8vw);
          padding: var(--padding);
          color: white;
          font-size: 90%;
          bottom: calc(-2 * var(--padding));

          .mat-button {
            border-radius: 1.875rem;
          }

          &:hover {
            background-color: mat-color($mat-primary, darker);
          }

          &:disabled {
            background-color:mat-color($mat-accent,lighter);
          }
        }
      }

      .forgot-password {
        text-align: center;
        text-decoration: none;
        font-size: 60%;
        margin-top: calc(3 * (10px + 0.8vw));
        color: mat-color($mat-accent, main);
        letter-spacing: 0.0026rem;

        &:hover {
          color: mat-color($mat-primary, darker);
        }
      }
    }
  }
}
