<div class='container'>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div class='reload-button'>
    <button mat-mini-fab color='primary' title='Refresh' (click)='onRefresh()'>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form [formGroup]='publisherForm.baseForm' fxLayout='row' fxLayoutAlign='space-between center'
          [fxLayoutGap]="'1.667rem'">
      <!--Publisher form-->
      <div fxFlex='98' fxLayout='column'>
        <div fxLayout='row' fxLayoutAlign='space-between center'>
          <!-- Account name -->
          <mat-form-field hideRequiredMarker appearance='outline' fxFlex='47'>
            <mat-label>Nombre de la cuenta</mat-label>
            <label>
              <input type='text' matInput required formControlName='nombre'>
            </label>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngFor='let error of publisherForm.onSearchErrors(controls.nombre)'>
              {{error}}
            </mat-error>
          </mat-form-field>
          <!-- Rol -->
          <ng-select #role fxFlex='47'
                     [items]='roleOptions'
                     bindLabel='nombre'
                     placeholder='Rol'
                     appearance='outline'
                     labelForId='rol'
                     title='Seleccione el rol del publicador'
                     required
                     [clearable]='false'
                     [searchable]='false'
                     [selectableGroupAsModel]='true'
                     formControlName='rol'>
            <ng-template ng-label-tmp let-rol='item'>
              <ng-container [ngSwitch]='rol.nombre'>
                <mat-icon *ngSwitchCase="'ADMIN'">admin_panel_settings</mat-icon>
                <mat-icon *ngSwitchCase="'PUBLISHER'">public</mat-icon>
                <mat-icon *ngSwitchDefault>privacy_tip</mat-icon>
              </ng-container>
              {{rol.nombre| uppercase}}
            </ng-template>
          </ng-select>
        </div>
        <div fxLayout='row' fxLayoutAlign='space-between center'>
          <!-- Email -->
          <mat-form-field hideRequiredMarker appearance='outline' fxFlex='47'>
            <mat-label>Email</mat-label>
            <label>
              <input type='text' matInput required formControlName='email'>
            </label>
            <mat-icon matSuffix>contact_mail</mat-icon>
            <mat-error *ngFor='let error of publisherForm.onSearchErrors(controls.email)'>
              {{error}}
            </mat-error>
          </mat-form-field>
          <!-- State -->
          <mat-form-field fxFlex='47' hideRequiredMarker appearance='outline'>
            <mat-label>Estado</mat-label>
            <mat-select #state formControlName='estado'>
              <mat-option>-- Seleccione una opción --</mat-option>
              <mat-option value='ACTIVO'>ACTIVO</mat-option>
              <mat-option value='INACTIVO'>INACTIVO</mat-option>
            </mat-select>
            <ng-container [ngSwitch]='state.value' matSuffix>
              <mat-icon *ngSwitchCase="'ACTIVO'" matSuffix>email</mat-icon>
              <mat-icon *ngSwitchCase="'INACTIVO'" matSuffix>unsubscribe</mat-icon>
              <mat-icon *ngSwitchDefault matSuffix>contact_mail</mat-icon>
            </ng-container>
            <mat-error *ngFor='let error of publisherForm.onSearchErrors(controls.estado)'>
              {{error}}
            </mat-error>
          </mat-form-field>
        </div>
        <!--Academic units-->
        <ng-select
          [items]='academicUnits'
          bindLabel='nombre'
          placeholder='Unidada Académica'
          appearance='outline'
          notFoundText='No hay más unidades académicas en la lista!'
          typeToSearchText='Search'
          title='Seleccione las unidades académicas del publicador'
          required
          [loading]='true'
          [multiple]='true'
          [minTermLength]='3'
          [hideSelected]='true'
          [closeOnSelect]='false'
          [clearSearchOnAdd]='true'
          [selectableGroupAsModel]='true'
          formControlName='unidadAcademicaPorUsuario'>
          <ng-template ng-option-tmp let-academicUnits='item' let-item$='item$'>
            <ng-container><mat-icon> account_balance</mat-icon></ng-container>
            {{academicUnits.nombre| uppercase}}
          </ng-template>
        </ng-select>
        <!--Administrative units-->
        <ng-select
          [items]='administrativeUnits'
          bindLabel='nombre'
          placeholder='Unidada Administrativa'
          appearance='outline'
          notFoundText='No hay más unidades administrativas en la lista!'
          typeToSearchText='Search'
          title='Seleccione las unidades administrativas del publicador'
          required
          [loading]='true'
          [multiple]='true'
          [minTermLength]='3'
          [hideSelected]='true'
          [closeOnSelect]='false'
          [clearSearchOnAdd]='true'
          [selectableGroupAsModel]='true'
          formControlName='unidadAdministrativaPorUsuario'>
          <ng-template ng-option-tmp let-administrativeUnits='item' let-item$='item$'>
            <ng-container><mat-icon>badge</mat-icon></ng-container>
            {{administrativeUnits.nombre| uppercase}}
          </ng-template>
        </ng-select>
      </div>
    </form>
  </div>
  <div mat-dialog-actions fxLayout='row' fxLayoutAlign='end end'>
    <button mat-raised-button fxFlex='20' color='warn' (click)='onClose(null)'>Cancelar</button>
    <button mat-raised-button fxFlex='20' color='primary' (click)='onSave()'
            [disabled]='publisherForm.baseForm.invalid'>
      {{actionTODO}}
    </button>
  </div>
</div>
