<div>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <form [formGroup]='publisherForm.baseForm' fxLayout='row' fxLayoutAlign='space-between center'
          [fxLayoutGap]="'1.667rem'">
      <!--Publisher form-->
      <div fxFlex='98' fxLayout='column'>
        <div fxLayout='row' fxLayoutAlign='space-between center'>
          <!-- Account name -->
          <mat-form-field hideRequiredMarker appearance='outline' fxFlex='47'>
            <mat-label>Nombre de la cuenta</mat-label>
            <label>
              <input type='text' matInput required formControlName='nombre'>
            </label>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngFor='let error of publisherForm.onSearchErrors(controls.nombre)'>
              {{error}}
            </mat-error>
          </mat-form-field>
          <!-- Rol -->
          <mat-form-field fxFlex='47' hideRequiredMarker appearance='outline'>
            <mat-label>Rol</mat-label>
            <mat-select #role formControlName='rol'>
              <mat-option>-- Seleccione una opción --</mat-option>
              <mat-option *ngFor='let roleOpt of roleOptions' [value]='roleOpt'>{{roleOpt.nombre}}</mat-option>
            </mat-select>
            <ng-container [ngSwitch]='role.value?.nombre' matSuffix>
              <mat-icon *ngSwitchCase="'ADMIN'" matSuffix>admin_panel_settings</mat-icon>
              <mat-icon *ngSwitchCase="'PUBLISHER'" matSuffix>public</mat-icon>
              <mat-icon *ngSwitchDefault matSuffix>privacy_tip</mat-icon>
            </ng-container>
            <!--            <mat-error *ngFor='let error of publisherForm.onSearchErrors(controls.rol)'>-->
            <!--              {{error}}-->
            <!--            </mat-error>-->
          </mat-form-field>
        </div>
        <div fxLayout='row' fxLayoutAlign='space-between center'>
          <!-- Email -->
          <mat-form-field hideRequiredMarker appearance='outline' fxFlex='47'>
            <mat-label>Email</mat-label>
            <label>
              <input type='text' matInput required formControlName='email'>
            </label>
            <mat-icon matSuffix>contact_mail</mat-icon>
            <mat-error *ngFor='let error of publisherForm.onSearchErrors(controls.email)'>
              {{error}}
            </mat-error>
          </mat-form-field>
          <!-- State -->
          <mat-form-field fxFlex='47' hideRequiredMarker appearance='outline'>
            <mat-label>Estado</mat-label>
            <mat-select #state formControlName='estado'>
              <mat-option>-- Seleccione una opción --</mat-option>
              <mat-option value='ACTIVO'>ACTIVO</mat-option>
              <mat-option value='INACTIVO'>INACTIVO</mat-option>
            </mat-select>
            <ng-container [ngSwitch]='state.value' matSuffix>
              <mat-icon *ngSwitchCase="'ACTIVO'" matSuffix>email</mat-icon>
              <mat-icon *ngSwitchCase="'INACTIVO'" matSuffix>unsubscribe</mat-icon>
              <mat-icon *ngSwitchDefault matSuffix>contact_mail</mat-icon>
            </ng-container>
            <mat-error *ngFor='let error of publisherForm.onSearchErrors(controls.estado)'>
              {{error}}
            </mat-error>
          </mat-form-field>
        </div>
        <!--Association-->
        <ng-select
          [items]='associations'
          bindLabel='nombre'
          placeholder='Facultad/Escuela'
          appearance='outline'
          notFoundText='No hay más asociaciones en la lista!'
          typeToSearchText='Search'
          title='Seleccione la asociación/es del publicador'
          [loading]='true'
          [multiple]='true'
          [minTermLength]='3'
          [hideSelected]='true'
          [closeOnSelect]='false'
          [clearSearchOnAdd]='true'
          [selectableGroupAsModel]='true'
          formControlName='asociacionPorUsuario'>
          <ng-template ng-option-tmp let-association='item' let-item$='item$'>
            {{association.nombre| uppercase}}
          </ng-template>
        </ng-select>
      </div>
    </form>
  </div>
  <div mat-dialog-actions fxLayout='row' fxLayoutAlign='end end'>
    <button mat-raised-button fxFlex='20' color='warn' (click)='onClose(null)'>Cancelar</button>
    <button mat-raised-button fxFlex='20' color='primary' (click)='onSave()'
            [disabled]='publisherForm.baseForm.invalid'>
      {{actionTODO}}
    </button>
  </div>
</div>
