<article class='card' *ngIf='card'>
  <div class='card_text' [innerHTML]='this.domSanitizerSvc.sanitizeHTML(card. texto)'></div>
  <hr/>
  <div class='card_actions'>
    <button mat-flat-button color='primary' (click)='onEditCard(card.id)' title='Click para editar plantilla'>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-flat-button color='warn' (click)='onDeleteCard(card)' title='Click para eliminar plantilla'>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</article>
