<mat-sidenav-container  hasBackdrop="true" fullscreen>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="app-sidenav">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content fxFlex fxLayout="column">
   <app-header *ngIf="authSvc.isLoggged$|async" (toggleSidenav)="sidenav.toggle()"></app-header>
    <main fxFlex fxLayout="column">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer *ngIf="authSvc.isLoggged$|async"></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
