<app-header *ngIf="authSvc.isLoggged$|async" (toggleSidenav)="sidenav.toggle()"></app-header>
<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="app-sidenav">
    <mat-toolbar color="accent">
      <span>Menu</span>
    </mat-toolbar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer *ngIf="authSvc.isLoggged$|async"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
