<h1 mat-dialog-title>{{data.title | uppercase }}</h1>
<div mat-dialog-content>
<!--TODO: Poner boton de refresh en el formulario -->
  <form [formGroup]="mailUserForm.baseForm" (ngSubmit)="onSave()" fxLayout="column"
        (keydown.enter)="$event.preventDefault()">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <!-- Name -->
      <mat-form-field hideRequiredMarker appearance="outline" fxFlex="47">
        <mat-label>Nombre</mat-label>
        <label>
          <input type="text" matInput required formControlName="nombre">
        </label>
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="checkField('nombre', null, null)">{{mailUserForm.errorsMessage["nombre"]}}</mat-error>
      </mat-form-field>
      <!-- Lastname -->
      <mat-form-field hideRequiredMarker appearance="outline" fxFlex="47">
        <mat-label>Apellidos</mat-label>
        <label>
          <input type="text" matInput required formControlName="apellido">
        </label>
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="checkField('apellido',null, null)">{{mailUserForm.errorsMessage["apellido"]}}</mat-error>
      </mat-form-field>
    </div>
    <!-- ID -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <!-- ID type -->
      <mat-form-field hideRequiredMarker fxFlex="47" formGroupName="id" appearance="outline">
        <mat-label>Tipo de documento</mat-label>
        <mat-select formControlName="tipoIdentificacion">
          <mat-option>-- Seleccione una opción --</mat-option>
          <mat-option value="CA">CARNET</mat-option>
          <mat-option value="CC">CEDULA DE CIUDADANIA</mat-option>
          <mat-option value="CE">CEDULA DE ESTRAJERIA</mat-option>
          <mat-option value="PA">PASAPORTE</mat-option>
          <mat-option value="PT">PERMISO TRABAJO</mat-option>
          <mat-option value="RC">REGISTRO CIVIL</mat-option>
          <mat-option value="TI">TARJETA IDENTIDAD</mat-option>
          <mat-option value="VI">VISA</mat-option>
        </mat-select>
        <mat-icon matSuffix>account_box</mat-icon>
        <mat-error *ngIf="checkField('tipoIdentificacion','id', null)">
          {{mailUserForm.errorsMessage['id'].tipoIdentificacion}}</mat-error>
      </mat-form-field>
      <!-- ID number -->
      <mat-form-field hideRequiredMarker appearance="outline" fxFlex="47" formGroupName="id">
        <mat-label>Número de identificación</mat-label>
        <label>
          <input type="text" matInput required formControlName="numeroIdentificacion"
          >
        </label>
        <mat-icon matSuffix>account_box</mat-icon>
        <mat-error *ngIf="checkField('numeroIdentificacion','id', null )">
          {{mailUserForm.errorsMessage['id'].numeroIdentificacion}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Birhtday/Gender -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <!-- Birhtday -->
      <mat-form-field fxFlex="47" appearance="outline">
        <mat-label>Fecha de naciemiento</mat-label>
        <label>
          <input matInput [matDatepicker]="dp" [max]="today" formControlName="fechaNacimiento"
                 (dateChange)="setBirthdayFormat($event)" placeholder="YYYY-MM-DD">
        </label>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
        <mat-error *ngIf="checkField('fechaNacimiento', null, null)">{{mailUserForm.errorsMessage["fechaNacimiento"]}}
        </mat-error>
      </mat-form-field>
      <!-- Gender -->
      <mat-form-field fxFlex="47" appearance="outline">
        <mat-label>Género</mat-label>
        <mat-select formControlName="genero">
          <mat-option>-- Seleccione una opción --</mat-option>
          <mat-option value="MASCULINO">MASCULINO</mat-option>
          <mat-option value="FEMENINO">FEMENINO</mat-option>
        </mat-select>
        <mat-icon matSuffix>group</mat-icon>
        <mat-error *ngIf="checkField('genero', null, null)">
          {{mailUserForm.errorsMessage["genero"]}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Email/State -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <!-- Email -->
      <mat-form-field fxFlex="47" appearance="outline">
        <mat-label>Email</mat-label>
        <label>
          <input type="text" matInput required formControlName="email">
        </label>
        <mat-error *ngIf="checkField('email', null, null)">{{mailUserForm.errorsMessage["email"]}}</mat-error>
        <mat-icon matSuffix>contact_mail</mat-icon>
      </mat-form-field>
      <!-- State -->
      <mat-form-field fxFlex="47" hideRequiredMarker appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select #state formControlName="estado">
          <mat-option>-- Seleccione una opción --</mat-option>
          <mat-option value="ACTIVO">ACTIVO</mat-option>
          <mat-option value="INACTIVO">INACTIVO</mat-option>
        </mat-select>
        <ng-container [ngSwitch]="state.value" matSuffix>
          <mat-icon *ngSwitchCase="'ACTIVO'" matSuffix>email</mat-icon>
          <mat-icon *ngSwitchCase="'INACTIVO'" matSuffix>unsubscribe</mat-icon>
          <mat-icon *ngSwitchDefault matSuffix>contact_mail</mat-icon>
        </ng-container>
        <mat-error *ngIf="checkField('estado', null, null)">
          {{mailUserForm.errorsMessage["estado"]}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Association -->
    <div *ngFor="let mailAssociation of mailUserForm.baseForm.get('asociacionPorUsuarioCorreo')['controls'];
          let i = index" [formGroup]="mailAssociation" fxLayout="row" fxFlexAlign="space-between center">
      <!-- Association -->
      <div fxFlex="70">
        <mat-form-field hideRequiredMarker fxFlex="90" appearance="outline">
          <mat-label>Facultad/Escuela</mat-label>
          <mat-select formControlName="nombre">
            <mat-option>-- Seleccione una opción --</mat-option>
            <mat-option *ngFor="let association of associations" [value]="association['nombre']"
                        (onSelectionChange)="setFormGroupID(mailAssociation, association['id'])">
              {{association['nombre']}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>account_balance</mat-icon>
          <mat-error *ngIf="checkField('nombre','asociacionPorUsuarioCorreo',i)">
            {{mailUserForm.errorsMessage['asociacionPorUsuarioCorreo'][i].nombre}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Actions list -->
      <div fxFlex="15" fxLayout="row" fxFlexAlign="space-between center">
        <div *ngIf="getAssociationsSize() > 1" fxFlex="47">
          <button mat-mini-fab color="warn" title="Eliminar asociación"
                  (click)="removeOrClearByName(i,'asociacionPorUsuarioCorreo', false)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div *ngIf="onShowAddAssociation(i)" fxFlex="47">
          <button mat-mini-fab color="primary" title="Agregar asociación"
                  (click)="addByNameFormGroup('asociacionPorUsuarioCorreo')">
            <mat-icon>playlist_add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- Academic program-->
    <div *ngFor="let academicProgram of mailUserForm.baseForm.get('programaAcademicoPorUsuarioCorreo')['controls'];
          let i = index" [formGroup]="academicProgram" fxLayout="row" fxFlexAlign="space-between center">
      <!-- Academic program-->
      <div fxFlex="70">
        <mat-form-field hideRequiredMarker fxFlex="90" appearance="outline">
          <mat-label>Programa</mat-label>
          <mat-select formControlName="nombre">
            <mat-option>-- Seleccione una opción --</mat-option>

            <mat-option *ngFor="let program of programs" [value]="program['nombre']"
                        (onSelectionChange)="setFormGroupCode(academicProgram, program['codigo'])">
              {{program['nombre']}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>school</mat-icon>
          <mat-error *ngIf="checkField('nombre','programaAcademicoPorUsuarioCorreo',i)">
            {{mailUserForm.errorsMessage['programaAcademicoPorUsuarioCorreo'][i].nombre}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Actions list -->
      <div fxFlex="15" fxLayout="row" fxFlexAlign="space-between center">
        <div *ngIf="getProgramsSize() > 1" fxFlex="47">
          <button mat-mini-fab color="warn" title="Eliminar programa"
                  (click)="removeOrClearByName(i,'programaAcademicoPorUsuarioCorreo', false)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div *ngIf="onShowAddProgram(i)" fxFlex="47">
          <button mat-mini-fab color="primary" title="Agregar programa"
                  (click)="addByNameFormGroup('programaAcademicoPorUsuarioCorreo')">
            <mat-icon>playlist_add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- Bonding -->
    <div *ngFor="let bonding of mailUserForm.baseForm.get('vinculacionPorUsuarioCorreo')['controls'];
          let i = index" [formGroup]="bonding" fxLayout="row" fxFlexAlign="space-between center">
      <!-- Bonding -->
      <div fxFlex="70">
        <mat-form-field hideRequiredMarker fxFlex="90" appearance="outline">
          <mat-label>Vinculación</mat-label>
          <mat-select formControlName="nombre">
            <mat-option>-- Seleccione una opción --</mat-option>
            <mat-option *ngFor="let bondingType of bondingTypes" [value]="bondingType['nombre']"
                        (onSelectionChange)="setFormGroupID(bonding, bondingType['id'])">
              {{bondingType['nombre']}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>group_work</mat-icon>
          <mat-error *ngIf="checkField('nombre','vinculacionPorUsuarioCorreo',i)">
            {{mailUserForm.errorsMessage['vinculacionPorUsuarioCorreo'][i].nombre}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Actions list -->
      <div fxFlex="15" fxLayout="row" fxFlexAlign="space-between center">
        <div *ngIf="getBodyTypesSize() > 1" fxFlex="47">
          <button mat-mini-fab color="warn" title="Eliminar vinculación"
                  (click)="removeOrClearByName(i,'vinculacionPorUsuarioCorreo', false)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div *ngIf="onShowAddBodyType(i)" fxFlex="47">
          <button mat-mini-fab color="primary" title="Agregar vinculación"
                  (click)="addByNameFormGroup('vinculacionPorUsuarioCorreo')">
            <mat-icon>playlist_add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- Platform -->
    <div *ngFor="let platformUser of mailUserForm.baseForm.get('plataformaPorUsuarioCorreo')['controls'];
          let i = index" [formGroup]="platformUser" fxLayout="row" fxFlexAlign="space-between center">
      <!-- Platform -->
      <div fxFlex="70" fxLayout="row">
        <mat-form-field hideRequiredMarker fxFlex="90" appearance="outline">
          <mat-label>Plataforma</mat-label>
          <mat-select formControlName="nombre">
            <mat-option>-- Seleccione una opción --</mat-option>
            <mat-option *ngFor="let platform of platforms" [value]="platform['nombre']"
                        (onSelectionChange)="setFormGroupID(platformUser, platform['id'])">
              {{platform['nombre']}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>storage</mat-icon>
          <mat-error *ngIf="checkField('nombre','plataformaPorUsuarioCorreo',i)">
            {{mailUserForm.errorsMessage['plataformaPorUsuarioCorreo'][i].nombre}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Actions list -->
      <div fxFlex="15" fxLayout="row" fxFlexAlign="space-between center">
        <div *ngIf="getPlatformsSize()> 1" fxFlex="47">
          <button mat-mini-fab color="warn" title="Eliminar plataforma"
                  (click)="removeOrClearByName(i,'plataformaPorUsuarioCorreo', false)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div *ngIf="onShowPlatforms(i)" fxFlex="47">
          <button mat-mini-fab color="primary" title="Agregar plataforma"
                  (click)="addByNameFormGroup('plataformaPorUsuarioCorreo')">
            <mat-icon>playlist_add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
  <button mat-raised-button fxFlex="20" color="warn" (click)="onClose(null)">Cancelar</button>
  <button mat-raised-button fxFlex="20" [disabled]="mailUserForm.baseForm.invalid" color="primary" (click)="onSave()">
    {{actionTODO}}
  </button>
</div>
