.cls-1,
.cls-16 {
  fill: none;
}

.cls-2 {
  fill: #e4ffe5;
}

.cls-3 {
  fill: #707070;
}

.cls-4 {
  fill: #ffb8b8;
}

.cls-5 {
  fill: #fff;
}

.cls-6 {
  fill: #ffc700;
}

.cls-7 {
  fill: #3f3d56;
}

.cls-8 {
  fill: #ff6584;
}

.cls-9 {
  fill: #2f2e41;
}

.cls-10 {
  fill: #d0cde1;
}

.cls-11 {
  fill: #2b44ff;
}

.cls-12 {
  fill: #191847;
}

.cls-13 {
  fill: #131523;
}

.cls-14 {
  fill: #0b5810;
}

.cls-15 {
  fill: #e58b1d;
}

.cls-16 {
  stroke           : #707070;
  stroke-miterlimit: 10;
  stroke-width     : 5px;
}
