mat-toolbar {
  font-size:calc(11px + 0.6vw);
  padding: 1.2vw;
  line-height: 1.2;

  #version {
    font-size: 65%;
  }

  #banner {
    text-align: center;
    font-size: 50%;
    word-wrap: break-word;
  }
}

