@import 'src/assets/custom_styles/material_custom_theme.scss';

.number-emails, p, .number-users, .mat-title{
  position: absolute;
  top: 50%;
  left: 10%;
  font-weight: bold;
}

.circle{
  margin-top: 0.1111rem;
  margin-left: 0.5556rem;
  vertical-align: auto;
  background: #0b5810;
  width: 2.1667rem;
  height: 2.1667rem;
  border-radius: 50%;
  position: absolute;
  display: inline;
}

.icon{
  padding: 0.3889rem;
  transform: scale(1);
  opacity: 100%;
  color: #efefef;
}

.mat-headline{
  margin: 1.6667rem;
  min-width: 11.6667rem;
  min-height: 3.8889rem;
  text-align: justify;
  padding-bottom: 0.5556rem;
  border-radius: 2.7778rem;
}

.subheading-2{
  font-weight: 600;
  background: mat-color($mat-primary, lighter);;
  position: relative;
  border-radius: 2.7778rem;
  margin: 1.6667rem;
  min-width: 13.8889rem;
}

.subheading-2:before {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 2.7778rem;
  color: white;
  background: mat-color($mat-primary, main);
  transition: all 0.5s ease;
  font-weight: 600;
  content:"Agregar usuario";
}

.subheading-2:hover:before {
  content:"";
  width: 15%;
}

.mat-elevation-z8{
 width: 85%;
 height: 50%;
 margin: auto;
}

.table-header{
  text-align: center;
  background-color: mat-color($mat-primary, lighter);
  font-weight: bold; 
  font-size: 0.8889rem;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: mat-color($mat-accent, lighter);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: mat-color($mat-accent, lighter);
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 4.4444rem;
  border: 0.1111rem solid black;
  padding: 0.4444rem;
  font-weight: lighter;
  margin: 0.4444rem 0;
  height: 5.7778rem;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 2.2222rem;
  line-height: normal;
}

.example-element-description {
  padding: 0.8889rem;
}

.example-element-description-attribution {
  opacity: 0.5;
}
