@import 'src/assets/custom_styles/material_custom_theme.scss';

.number-emails, p, .number-users, .mat-title{
  position: absolute;
  top: 50%;
  left: 10%;
  font-weight: bold;
}

.circle{
  margin-top: 0.1111rem;
  margin-left: 0.5556rem;
  vertical-align: auto;
  background: #0b5810;
  width: 2.1667rem;
  height: 2.1667rem;
  border-radius: 50%;
  position: absolute;
  display: inline;
}

.icon{
  padding: 0.3889rem;
  transform: scale(1);
  opacity: 100%;
  color: #efefef;
}

.mat-headline{
  margin: 1.6667rem;
  min-width: 11.6667rem;
  min-height: 3.8889rem;
  text-align: justify;
  padding-bottom: 0.5556rem;
  border-radius: 2.7778rem;
}

.subheading-2{
  font-weight: 600;
  background: mat-color($mat-primary, lighter);;
  position: relative;
  border-radius: 2.7778rem;
  margin: 1.6667rem;
  min-width: 13.8889rem;
}

.subheading-2:before {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 2.7778rem;
  color: white;
  background: mat-color($mat-primary, main);
  transition: all 0.5s ease;
  font-weight: 600;
  content:"Agregar usuario";
}

.subheading-2:hover:before {
  content:"";
  width: 15%;
}

#container {
  width     : 98%;
  margin: 0 auto;
  margin-top: 1rem;
}

.mat-header-cell {
  align-items: center;
  background: mat-color($mat-accent, main);
  font-size: large;
}


table{
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.table-button-row button {
  margin: 12px;
}

.btn-new {
  width: 20%;
}