@import '~@angular/material/theming';

body{
  background-color: rgb(228, 255, 229);
}

.number-emails, p, .number-users{
  position: absolute;
  top: 50%;
  left: 10%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  font-size: 20pt;
}

.circle{
  margin-top: 2px;
  margin-left: 10px;
  vertical-align: auto;
  background: #0b5810;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  position: absolute;
  display: inline;
}

.icon{
  padding: 7px;
  transform: scale(1);
  opacity: 100%;
  color: #efefef;
}

.buttons-users-list{
  margin: 30px;
  min-width: 210px;
  min-height: 70px;
  text-align: justify;
  padding-bottom: 10px;
  border-radius: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  background-color: #ffff;
}

.add-user{
  color: rgb(0, 0, 0) ;
  font-size: 12pt;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: #00ff22;
  position: relative;
  border-radius: 50px;
  margin: 30px;
  min-width: 250px;
}

.add-user:before {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #0b5810;
  transition: all 0.5s ease;
  color: rgb(255, 255, 255) ;
  font-size: 12pt;
  font-weight: 600;
  content:"Agregar usuario";
}

.add-user:hover:before {
  content:"";
  width: 15%;
}

.table{
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
  font-size: 10pt;
}

.mat-elevation-z8{
 width: 85%;
 height: 50%;
 margin: auto;
 font-family: 'Poppins', sans-serif;
 font-weight: 400; 
 font-size: 10pt;
}

.paginator{
  font-family: 'Poppins', sans-serif;
 font-weight: 400; 
 font-size: 10pt;
}

.table-header{
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  font-size: 12pt;
  background-color: #E0F92E;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
