@import '../../../../../../../material_custom_theme';

.container {
  padding: 0;
  margin: 0;
  width: 100%;

  .reload-button {
    text-align: right;
    margin: 1vw;
  }

  .mat-sidenav-container {
    background-color: var(--bg);

    .mat-sidenav {
      .mat-toolbar {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1000;
      }

      .template-cards-container {
        margin: 2vw;

        app-template-card {
          padding: 0 1vw;
        }
      }
    }

    form {
      margin: 1.5vw;
      $border-template-card: 0.2vw;

      .select-card-container {
        border: $border-template-card solid mat-color($mat-primary, lighter);
      }

      .select-card-container-error {
        border: $border-template-card solid mat-color($mat-warn, darker);
      }

      .select-card-container,
      .select-card-container-error {
        border: $border-template-card solid mat-color($mat-primary, lighter);

        .btn-select-card {
          padding: 0;
          margin: auto;
          height: 50vh;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          border: $border-template-card solid mat-color($mat-primary, darker);
        }
      }

      app-template-card {
        zoom: 1.3;
      }
    }
  }
}


