@import '../../../../../../../material_custom_theme';

.reload-button {
  text-align: right;
  margin: 0.5rem 0;
}

.mat-dialog-content {
  height: 70vh;

  .mat-sidenav {
    .mat-toolbar {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 1000;
    }
    .template-cards-container{
      margin: 2rem;
      app-template-card{
        padding: 0 0.556rem;
      }
    }
  }

  form {
    margin: 1.5rem;

    .select-card-container {
      border: 0.1667rem solid mat-color($mat-primary, lighter);
    }

    .select-card-container-error {
      border: 0.1667rem solid mat-color($mat-warn, darker);
    }

    app-template-card{
      zoom:1.3;
    }
  }

  .select-card-container,
  .select-card-container-error {
    border: 0.1667rem solid mat-color($mat-primary, lighter);
    .btn-select-card {
      padding: 0;
      margin: auto;
      height: 50vh;
      line-height: 11.6667rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      border: 0.1667rem solid mat-color($mat-primary, darker);
    }
  }
}

