@import '../../../../../material_custom_theme';

.container {
  .reload-button {
    z-index: 999;
    position: fixed;
    right: 4vw;
    top: calc(1.2 * (25px + 2vw));
  }

  section {
    margin-top: 2vw;

    &.cards-container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
}

