@import '../../../../assets/custom_styles/material_custom_theme';

.container {
  .reloadCard {
    cursor: pointer;
    position: absolute;
    top: 5rem;
    right: 2rem;
  }

  section.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.button-add-template-card {
  &:before {
    content: "Agregar plantilla";
  }
}
