@import 'src/assets/custom_styles/material_custom_theme.scss';

.card {
    border     : 0.1667rem solid mat-color($mat-primary, lighter);
  &:hover{
    border     : 0.1667rem solid mat-color($mat-primary, darker);
  }
}

.select-card-container {
  width      : 100%;
  min-height : 100%;
  height     : auto;
  border     : 0.1667rem solid mat-color($mat-primary, darker);
  margin     : 0.2778rem;
  display    : flex;
  align-items: center;

  .btn-select-card{
    padding: 0;
    margin: auto;
    line-height : 11.6667rem;
  }

  &:hover{
    border : 0.1667rem solid mat-color($mat-primary, lighter);
  }
}



