<h1 #tittle mat-dialog-title>{{data.title | uppercase }}</h1>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="sidenavOpened">
    <mat-card *ngFor="let card of cards" appMaterialElevation  class="card" fxLayout="row"
      fxLayoutGap="12px">
      <p [innerHTML]="sanatizeHTML(card.texto)" title="Click para seleccionar" (click)="onSelectCard(card)"></p>
      <!-- TODO: Solucionar error de deteccioón del click -->
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center" title="Click para ver las plantillas"
      (click)="loadCards()">
      <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-between stretch" class="select-card-container">
        <div *ngIf="!selectCardHTML; else selectCard" class="btn-select-card">
          <button mat-button color="primary">
            Seleccionar plantilla<br>
            <mat-icon>image</mat-icon>
          </button>
        </div>
        <ng-template #selectCard>
          <div [innerHTML]="selectCardHTML" appMaterialElevation (click)="loadCards(true)"
            title='click para cambiar plantilla'></div>
        </ng-template>
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between stretch" class="container">
        <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="40" appearance="outline">
            <mat-label>Nombre: </mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
              <mat-label>Fecha de inicio: </mat-label>
              <input readonly matInput [matDatepicker]="picker" size="12">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="auto" fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
              <mat-label>Recurrencia: </mat-label>
              <mat-select disableRipple>
                <mat-option value="2">Diaria</mat-option>
                <mat-option value="1">Anual</mat-option>
                <mat-option value="3">Custominazada</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
              <mat-label>Condiciones: </mat-label>
              <mat-select disableRipple>
                <mat-option value="1">Option 1</mat-option>
                <mat-option value="2">Option 2</mat-option>
                <mat-option value="3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab color="warn">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
  <button mat-raised-button fxFlex="20" color="warn" (click)="onClose(null)">Cancelar</button>
  <button mat-raised-button fxFlex="20" color="primary" (click)="onSave()">Crear evento</button>
</div>
