<h1 #tittle mat-dialog-title>{{data.title}}</h1>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="sidenavOpened">
    <mat-card *ngFor="let card of cards" appMaterialElevation (click)="onSelectCard(card)"
      title="Click para seleccionar" class="card" fxLayout="row" fxLayoutGap="12px" [style.margin]="'0.6667rem'">
      <mat-card-content>
        <p [innerHTML]="sanatizeHTML(card.texto)"></p>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div mat-dialog-content>
      <form (formGroup)="eventDayForm" fxLayout="row" fxLayoutAlign="space-between stretch">
        <div *ngIf="!selectCardHTML; else selectedCard" fxFlex="45" class="select-card-container">
          <div class="btn-select-card">
            <button mat-button color="primary" (click)="loadCards()">
              Seleccionar plantilla<br>
              <mat-icon>image</mat-icon>
            </button>
          </div>
          <mat-error *ngIf="checkField('plantilla', null, null)">{{eventDayForm.errorsMessage.plantilla.texto}}</mat-error>
        </div>
        <ng-template #selectedCard>
          <div fxFlex="45" [innerHTML]="selectCardHTML" appMaterialElevation (click)="loadCards(true)"
            class="select-card-container" title='click para cambiar plantilla'></div>
        </ng-template>

        <div fxFlex>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <!-- Name -->
            <mat-form-field hideRequiredMarker appearance="outline" fxFlex="47">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" matInput required formControlName="nombre">
              <mat-icon matSuffix>event_note</mat-icon>
              <!-- <mat-error *ngIf="checkField('nombre', null, null)">{{eventDayForm.errorsMessage.nombre}}</mat-error> -->
            </mat-form-field>
            <!-- State -->
            <!-- <mat-form-field fxFlex="47" hideRequiredMarker appearance="outline">
              <mat-label>estado</mat-label>
              <mat-select #state formControlName="estado">
                <mat-option value= "d">-- Seleccione una opción --</mat-option>
                <mat-option value="ACTIVO">ACTIVO</mat-option>
                <mat-option value="INACTIVO">INACTIVO</mat-option>
              </mat-select>
              <ng-container [ngSwitch]="state.value" matSuffix>
                <mat-icon *ngSwitchCase="'ACTIVO'" matSuffix>notifications_active</mat-icon>
                <mat-icon *ngSwitchCase="'INACTIVO'" matSuffix>notifications_off</mat-icon>
                <mat-icon *ngSwitchDefault matSuffix>edit_notifications</mat-icon>
              </ng-container>
              <mat-error *ngIf="checkField('estado', null, null)">
                {{eventDayForm.errorsMessage["estado"]}}</mat-error>
            </mat-form-field> -->
          </div>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
  <button mat-raised-button fxFlex="20" color="warn" (click)="onClose(null)">Cancelar</button>
  <button mat-raised-button fxFlex="20" color="primary" (click)="onSave()">Crear tarjeta</button>
</div>
