<h1 #tittle mat-dialog-title>{{data.title | uppercase }}</h1>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
  <!-- Image load -->
  <div fxFlex="48" fxLayout="column wrap" fxLayoutAlign="center center" style="border: red solid 1px;">
    <div id="template-background" style="border: blue solid 1px;">

      <div [innerHTML]="mycontent"></div>
      <img *ngIf="source" [src]="source">
    </div>
    <input type="file" accept="image/*" (change)="updateSource($event)">
  </div>

  <!-- Edit text -->
  <div fxFlex="48" fxLayout="row" fxLayoutAlign="space-around center" class="container">
    <ckeditor [(ngModel)]="mycontent" #myckeditor="ngModel" name="textEditor" [config]="ckeConfig" fxFlex="72">
    </ckeditor>
    <div id="actions_buttons" fxFlex="25" fxLayout="column" fxLayoutAlign="space-between stretch">
      <h2 #tittle mat-dialog-title>Etiquetas</h2>
      <button id="name" mat-raised-button class="button-action button-add-name" (click)="addName()"
        title="Pulse para agregar etiqueta de nombre.">Nombre</button>
      <button id="date" mat-raised-button class="button-action button-add-date" (click)="addDate()"
        title="Pulse para agregar etiqueta de fecha.">Fecha</button>
      <button id="school" mat-raised-button class="button-action button-add-school" (click)="addSchool()"
        title="Pulse para agregar etoqueta de facultad/escuela.">Facultad</button>
      <button mat-raised-button class="button-action button-add-association" (click)="addAsociation()"
        title="Pulse para agregar etiqueta asociación.">Asociación</button>
    </div>
  </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
  <button mat-raised-button fxFlex="20" color="warn" (click)="onClose(null)">Cancelar</button>
  <!-- <button mat-raised-button fxFlex="20" [disabled]="mailUserForm.baseForm.invalid" color="primary" (click)="onSave()">
    {{actionTODO}}
  </button> -->
  <button mat-raised-button fxFlex="20" color="primary">Crear tarjeta</button>
</div>

