<div fxLayout='column' fxLayoutAlign='space-between stretch'>
  <h1 mat-dialog-title>{{data.title | uppercase }}</h1>
  <jodit-editor #editor id='editor' [config]='config' fxFlex></jodit-editor>
</div>

<div mat-dialog-actions fxLayout='row' fxLayoutAlign='end end'>
  <button mat-raised-button fxFlex='20' color='warn' (click)='onClose(null)'>Cancelar</button>
  <button mat-raised-button fxFlex='20' color='primary' (click)='onSave()'
          [disabled]='!onCompleteCard'
          [title]="onCompleteCard? 'Click para guardar':'Recuerde que debe ingresar la plantilla y almenos una condición'">{{actionTODO}}</button>
</div>
