@import 'src/assets/custom_styles/material_custom_theme.scss';

::ng-deep .cdk-overlay-pane {
  max-width: 100vw !important;
  max-height: 95vh;
}

::ng-deep .cdk-overlay-pane .mat-dialog-container {
  max-width: 100vw;
  max-height: 95vh;
}

::ng-deep .cdk-overlay-pane .mat-dialog-container .mat-dialog-content {
  max-height: 95vh;
}

.jodit_icon {
  font-style: normal;
  width: 14px;
  height: 14px
}
