<h1 #tittle mat-dialog-title>{{data.title | uppercase }}</h1>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
  <!-- Image load -->
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div appUploadFiles [files]="itemImages" [multiple]=false (mouseOver)="isOverDrop = $event" (change)="setCardBackground($event)"
      (fileSrc)="imageSrc = $event" [ngClass]="{ 'file-over': isOverDrop }" class="drop-zone" fxFlex>
      <div *ngIf="imageSrc ; else dropImage" id="template-background">
        <button mat-raised-button (click)="quitImage()">
          <mat-icon>close</mat-icon>
        </button>
        <img [src]="imageSrc" fxFlex>
      </div>
      <ng-template #dropImage>
        <div id="template-background-drop" fxLayout="column" fxFlexAlign="center center">
          <h4 fxFlex>Arrastra imagen</h4>
          <img alt="drop-images" />
        </div>
      </ng-template>
    </div>
    <input id="inputBackgroundEditor" type="file" appUploadFiles [files]="itemImages" [multiple]=false (fileSrc)="imageSrc=$event" (change)="setCardBackground($event)"/>
  </div>
  <!-- Edit text -->
  <div fxFlex="75" fxLayout="row" fxLayoutAlign="space-between center" class="container">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)" fxFlex>
      <div class="form-group">
        <jodit-editor #editor id ="editor" formControlName="description" [(ngModel)]="myContent"
          [(config)]="config" (change)="editorContentVerify()" (keydown)="deleteEvent($event)"></jodit-editor>
        <div *ngIf="formdata.controls.description.errors && formdata.controls.description.touched" class="error">
          Máximo 400 carácteres.</div>
      </div>
    </form>

    <div id="actions_buttons" fxFlex="25" fxLayout="column" fxLayoutAlign="space-between stretch">
      <h2 #tittle mat-dialog-title>Etiquetas</h2>
      <button id="name" mat-raised-button class="button-action button-add-name" (click)="addName()"
        title="Pulse para agregar etiqueta de nombre.">Nombre</button>
      <button id="date" mat-raised-button class="button-action button-add-date" (click)="addDate()"
        title="Pulse para agregar etiqueta de fecha.">Fecha</button>
      <button id="school" mat-raised-button class="button-action button-add-school" (click)="addSchool()"
        title="Pulse para agregar etoqueta de facultad/escuela.">Facultad</button>
      <button mat-raised-button class="button-action button-add-association" (click)="addAssociation()"
        title="Pulse para agregar etiqueta de estamento.">Estamento</button>
      <button mat-raised-button color="warn" class="button-action button-clear-text" (click)="resetEditor()"
        title="Pulse para eliminar todo el texto.">Limpiar texto</button>
    </div>
  </div>
</div>


<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
  <button mat-raised-button fxFlex="20" color="warn" (click)="onClose(null)">Cancelar</button>
  <!-- <button mat-raised-button fxFlex="20" [disabled]="mailUserForm.baseForm.invalid" color="primary" (click)="onSave()">
    {{actionTODO}}
  </button> -->
  <button mat-raised-button fxFlex="20" color="primary" (click)="onSave()">Crear tarjeta</button>
</div>
