@import 'src/assets/custom_styles/material_custom_theme.scss';

#actions_buttons {
  button {
    margin-bottom: 10%;
  }
}

.button-add-name {
  background-color: tomato;

  &:before {
    content: "Nombre";
  }
}

.button-add-date {
  background-color: aqua;

  &:before {
    content: "Fecha";
  }
}

.button-add-school {
  background-color: chocolate;

  &:before {
    content: "Facultad";
  }
}

.button-add-association {
  background-color: teal;

  &:before {
    content: "Estamento";
  }
}

.button-clear-text {
  &:before {
    content: "Limpiar";
  }
}

#template-background, #template-background-drop {
  width: 100%;

  img {
    width: 90%;
    height: 90%;
    border-radius: 10%;
  }
}

::ng-deep .cdk-overlay-pane {
  max-width: 100vw !important;
  max-height: 95vh;
}

::ng-deep .cdk-overlay-pane .mat-dialog-container {
  max-width: 100vw;
  max-height: 95vh;
}

::ng-deep .cdk-overlay-pane .mat-dialog-container .mat-dialog-content {
  max-height: 95vh;
}

.drop-zone {
  border: dotted 3px lightgray;
}

.file-over {
  border: dotted 3px #2196f3;
}
