@import '../../../../../../../material_custom_theme';

.container{
  padding:0;
  margin:0;
  .mat-dialog-title{
    padding:0;
    margin:0;
  }
}

::ng-deep {
  .cdk-overlay-pane {
    max-width: 95vw !important;
    max-height: 95vh;
  }
  .cdk-overlay-pane .mat-dialog-container {
    max-width: 95vw;
    max-height: 95vh;
  }
  .cdk-overlay-pane .mat-dialog-container .mat-dialog-content {
    max-height: 95vh;
  }
}
