@import '../../../../../../../material_custom_theme';

.wrapper-card {
  $width-shadow: 0.3rem;
  box-shadow: 0 $width-shadow 2*$width-shadow 0 rgba(0, 0, 0, 0.2), 0 1.5*$width-shadow 5*$width-shadow 0 rgba(0, 0, 0, 0.19);
  border: 0.2rem solid mat-color($mat-primary, lighter);
  transition: all 0.6s;
  border-radius: 1.5%;
  font-size: calc(0.3em + 1vmin) !important;
  text-align: center;

  .card-container {
    width: 17rem;
    height: 17rem;
    padding: 1rem;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;
    opacity: 0.6;
    transition: opacity 0.5s;

    * {
      font-size: 90% !important;
      text-decoration: none !important;
    }

    &:hover {
      opacity: 1;
    }
  }

  .card_actions {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: right;
    justify-content: center;
    background: linear-gradient(90deg, mat-color($mat-primary, darker) 0%, mat-color($mat-accent, darker) 38%, mat-color($mat-primary, lighter) 100%);

    button {
      margin: 0.1rem;
      padding: 0;
    }

    .mat-mini-fab {
      cursor: pointer;
      padding: 0.4vw;
      $size: calc(11px + 0.5vw);
      --size-fab: 2.5*calc(11px + 0.5vw);
      width: calc(var(--size-fab));
      height: calc(var(--size-fab));

      .mat-icon, &.mat-icon {
        font-size: $size;
      }
    }
  }

  @media (min-width: 480px) {
    &:hover {
      $width-shadow: 0.6rem;
      transform: scale(1.1);
      border: 0.25rem solid mat-color($mat-primary, darker);
      box-shadow: 0 $width-shadow 2*$width-shadow 0 rgba(250, 246, 246, 0.5), 0 1.5*$width-shadow 5*$width-shadow 0 rgba(250, 246, 246, 0.5);
      -webkit-box-shadow: 0 $width-shadow 2*$width-shadow 0 rgba(250, 246, 246, 0.5), 0 1.5*$width-shadow 5*$width-shadow 0 rgba(250, 246, 246, 0.5);
      -moz-box-shadow: 0 $width-shadow 2*$width-shadow 0 rgba(250, 246, 246, 0.5), 0 1.5*$width-shadow 5*$width-shadow 0 rgba(250, 246, 246, 0.5);
    }
  }

  @media (max-width: 480px) {
    .card-container {
      opacity: 0.8;
    }
  }
}


