<div class='container'>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div class='reload-button'>
    <button mat-mini-fab color='primary' title='Recargar plantillas' (click)='onRefresh()'>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]='sidenavOpened' fxLayout='column' fxLayoutGap='2vw'>
      <mat-toolbar color='primary'>
        <h1>Plantillas</h1>
      </mat-toolbar>
      <div class='template-cards-container'>
        <app-template-card
          #cardHtml *ngFor='let card of cards' [card]='card' [actions]='false' title='Click para seleccionar'
          (refreshCards)='onRefresh($event)' (click)='onSelectCard(card)'></app-template-card>
      </div>
    </mat-sidenav>
    <mat-sidenav-content mat-dialog-content>
      <form [formGroup]='eventDayForm.baseForm' fxFlex fxLayout.xs='column' fxLayout='row' [fxLayoutGap]="'1vw'">
        <!--Template card-->
        <div *ngIf='!selectCard; else selectedCard'
             [ngClass]="controls.plantilla.invalid && !controls.plantilla.pristine? 'select-card-container-error' : 'select-card-container'">
          <div class='btn-select-card'>
            <button mat-button color='primary' (click)='loadCards()'>
              Seleccionar plantilla<br>
              <mat-icon>image</mat-icon>
              <ng-container *ngIf='controls.plantilla.invalid && !controls.plantilla.pristine'>
                <mat-error *ngFor='let error of eventDayForm.onSearchErrors(controls.plantilla)'>
                  {{error}}
                </mat-error>
              </ng-container>
            </button>
          </div>
        </div>
        <ng-template #selectedCard>
          <app-template-card
            #cardHtml *ngIf='selectCard' [card]='selectCard' [actions]='false' title='click para cambiar plantilla'
            (refreshCards)='onRefresh($event)' (click)='loadCards(true)'></app-template-card>
        </ng-template>
        <!--Event day form-->
        <div fxflex fxLayout='column'>
          <div fxFlex fxLayout.xs='column' fxLayout.sm='column' fxLayout='row' [fxLayoutGap]="'1vw'">
            <!-- Subject -->
            <mat-form-field hideRequiredMarker appearance='outline' fxFlex>
              <mat-label>Asunto</mat-label>
              <label>
                <input type='text' matInput required formControlName='nombre'>
              </label>
              <mat-icon matSuffix>event_note</mat-icon>
              <mat-error *ngFor='let error of eventDayForm.onSearchErrors(controls.nombre)'>
                {{error}}
              </mat-error>
            </mat-form-field>
            <!-- State -->
            <mat-form-field fxFlex hideRequiredMarker appearance='outline'>
              <mat-label>Estado</mat-label>
              <mat-select #state formControlName='estado'>
                <mat-option>-- Seleccione una opción --</mat-option>
                <mat-option value='ACTIVO'>ACTIVO</mat-option>
                <mat-option value='INACTIVO'>INACTIVO</mat-option>
              </mat-select>
              <ng-container [ngSwitch]='state.value' matSuffix>
                <mat-icon *ngSwitchCase="'ACTIVO'" matSuffix>notifications_active</mat-icon>
                <mat-icon *ngSwitchCase="'INACTIVO'" matSuffix>notifications_off</mat-icon>
                <mat-icon *ngSwitchDefault matSuffix>edit_notifications</mat-icon>
              </ng-container>
              <mat-error
                *ngFor='let error of eventDayForm.onSearchErrors(controls.estado)'>
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout.xs='column' fxLayout.sm='column' fxLayout='row' [fxLayoutGap]="'1vw'">
            <!-- Start date-->
            <mat-form-field fxFlex appearance='outline'>
              <mat-label>Fecha de inicio</mat-label>
              <label>
                <input matInput [matDatepicker]='dp' formControlName='fecha' [matDatepickerFilter]='dateFilter'
                       (dateChange)='setDateFormat($event)'
                       placeholder='YYYY-MM-DD' readonly>
              </label>
              <mat-datepicker-toggle matSuffix [for]='dp'></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
              <!--              TODO: Solucionar error al resetear para poder usar el mat-error-->
              <!--              <mat-error-->
              <!--                *ngFor='let error of eventDayForm.onSearchErrors(controls.fecha)'>-->
              <!--                {{error}}-->
              <!--              </mat-error>-->
            </mat-form-field>
            <!-- Recurrency -->
            <mat-form-field fxFlex hideRequiredMarker appearance='outline'>
              <mat-label>Recurrencia</mat-label>
              <mat-select #recurrency formControlName='recurrencia'>
                <mat-option value=''>-- Seleccione una opción --</mat-option>
                <mat-option value='ANUAL'>ANUAL</mat-option>
                <mat-option value='DIARIA'>DIARIA</mat-option>
              </mat-select>
              <ng-container [ngSwitch]='recurrency.value' matSuffix>
                <mat-icon *ngSwitchCase="'ANUAL'" matSuffix>more_time</mat-icon>
                <mat-icon *ngSwitchCase="'DIARIA'" matSuffix>update</mat-icon>
                <mat-icon *ngSwitchDefault matSuffix>schedule</mat-icon>
              </ng-container>
              <mat-error
                *ngFor='let error of eventDayForm.onSearchErrors(controls.recurrencia)'>
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>
          <mat-icon color="warn" style="margin-bottom:1rem"
                    title="Si no selecciona ninguna condición, por defecto se enviara el evento a todas las unidades o programas a las que tenga acceso el Publicador.">
            info
          </mat-icon>
          <!--         Conditions -->
          <ng-select
            [items]='conditionsRes'
            [loading]='loading'
            appearance='outline'
            bindLabel='value'
            groupBy='parametros'
            notFoundText='No hay más condiones en la lista'
            placeholder='Condiciones'
            typeToSearchText='Search'
                     [multiple]='true'
                     [minTermLength]='3'
                     [hideSelected]='true'
                     [closeOnSelect]='false'
                     [clearSearchOnAdd]='true'
                     [selectableGroupAsModel]='true'
                     formControlName='condicionesEvento'>
            <ng-template ng-optgroup-tmp let-condition='item'>
              <ng-container>
                <mat-icon> local_offer</mat-icon>
              </ng-container>
              {{condition.name| uppercase}}
            </ng-template>
          </ng-select>
        </div>
      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div mat-dialog-actions fxLayout='row' fxLayoutAlign='end end'>
    <button mat-raised-button fxFlex='20' color='warn' (click)='onClose(null)'>Cancelar</button>
    <button mat-raised-button fxFlex='20' color='primary' (click)='onSave()' [disabled]='eventDayForm.baseForm.invalid'>
      {{actionTODO}}
    </button>
  </div>
</div>
