@import 'ng-select-styles';

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  margin: calc(1.2 * (25px + 2vw)) auto;
  padding: 0;
  width: 95%;

  //TODO: El estilo no funciona bien
  .mat-fab, .mat-mini-fab {
    cursor: pointer;
    $size: calc(10px + 0.5vw);
    --size-fab:2.5*calc(10px + 0.5vw);
    width: calc(var(--size-fab));
    height:calc(var(--size-fab));

    .mat-raised-button.mat-icon, .mat-icon {
     @include md-icon-size($size) ;
      display: block;
    }

  }

  .actions_buttons {
    .mat-raised-button {
      border-radius: 30px;
      margin: 0 3vw;
      padding: 0.5vw;
      font-size: calc(7px + 0.5vw);
      line-height: 1.2;
    }
  }

  .table-container {
    font-size: calc(9px + 0.5vw);

    .mat-toolbar {
      margin-top: calc(8px + 1vw);
      font-size: 80%;
    }

    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;

      * {
        font-size: 95%;
      }

      .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        display: table;
        border-collapse: collapse;
      }

      .mat-cell,
      .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0 01vw;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
      }

    }
  }
}

.mat-paginator-outer-container {
  * {
    font-size: 95%;
  }
}

.mat-dialog-title {
  margin: 1vw 0;
  text-align: center;
  font-weight: bold;
}

.mat-dialog-actions {
  margin-top: 2%;
}

footer {
  z-index: 999;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 1.667rem;
}
