@import 'assets/custom_styles/material_custom_theme.scss';

html,
body {
  box-sizing: border-box;
  height    : 100%;
  margin    : 0
}

// Create your Sass color vars (will be available in all the project)
.container {
  margin: 2% auto 0;
  padding   : 0;

  div .button-action {
    // TODO: Pasar texto del botón
    margin-top: 2.7778rem;
    border-radius: 2.7778rem;

    &:before {
      position     : fixed;
      left         : 0;
      width        : 100%;
      height       : 100%;
      border-radius: 2.7778rem;
      color        : white;
      transition   : all 0.35s ease;
      font-weight  : 800;
      background: mat-color($mat-primary, main);
    }

    &:hover:before {
      content: "";
      width  : 15%;
    }
  }

  div {
    .mat-toolbar {
      margin-top: 1.6667rem;
      font-size : 0.7778rem;
    }
  }

  .table-responsive {
    display   : block;
    width     : 100%;
    overflow-x: auto;

    .mat-table {
      width          : 100%;
      max-width      : 100%;
      margin-bottom  : 1rem;
      display        : table;
      border-collapse: collapse;
    }

    .mat-cell,
    .mat-header-cell {
      word-wrap     : initial;
      display       : table-cell;
      padding       : 0 0.2778rem;
      line-break    : unset;
      width         : auto;
      white-space   : nowrap;
      overflow      : hidden;
      vertical-align: middle;
    }
  }
}

.mat-dialog-title {
  margin     : 1.1111rem 0;
  text-align : center;
  font-weight: bold;
}

.mat-dialog-actions {
  margin-top: 2%;
}

@function set-background-buttom-action($color: mat-color($mat-primary, main)) {
  $background-buttom-action: $color;
  @return 0;
}
.container {
  width: 90%;
  height: 27.778rem;
  margin: 0 auto;
}

section {
  height: 100vh;
}

main{
  .bg{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    .title {
      background-color: #00000080;
      color: #fff;
      margin-bottom: 5.556rem;
      padding: 4rem 2.778rem;
    }
  }
  section.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .arrow {
    position: fixed;
    bottom: 0;
    margin-bottom: 1em;
    width: 5.556rem;
    height: 5.556rem;
    //background-image: url('~src/assets/svg/arrow_down.svg');
    background-size: contain;
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-1.667rem);
    }
    60% {
      transform: translateY(-0.833rem);
    }
  }
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
}

@media screen and (max-width: 27.778rem) {
  .container {
    width: 100%;
  }

  /* Card */
  .character__list {
    justify-content: flex-start;
    flex-direction: column;
  }

  .card {
    border: 0.278rem solid rgba(255, 255, 255, 0.90);
    box-shadow: 0.111rem 0.111rem 0.333rem 0 rgba(255, 255, 255, 0.3);
    max-width: 100%;

    img {
      opacity: 1;
    }
  }
}
